@import "../../_globalColor";

.contact-div-main {
  display: flex;
  align-items: center;
  gap: 60px;
}

.dark-mode a {
  color: $textColorDark;
}

.contact-div-main>* {
  flex: 1;
}

.contact-title {
  font-size: 48px;
  margin-bottom: 1rem;
}

.contact-detail,
.contact-detail-email {
  margin-top: 0px;
  font-size: 28px;
  font-weight: 400;
  color: $subTitle;
  text-decoration: none;
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: $textColor;
  text-shadow: 2px 1px 2px $contactDetailHoverTS;
  transition: all 0.3s;
}

.contact-subtitle {
  text-transform: uppercase;
}

.contact-text-div {
  margin-top: 1.5rem;
}

.contact-margin-top {
  margin-top: 0rem;
}

.contact-image-div>img {
  max-width: 100%;
  height: auto;
  margin: 2rem auto 0;
  display: block;
}

/* Media Query */
@media (max-width: 1380px),
(max-width: 768px) {
  .contact-div-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .contact-div-main>* {
    width: 100%;
  }

  .contact-title {
    font-size: 56px;
    font-weight: 400;
    text-align: center;
  }

  /* Media Query */

  .contact-title {
    font-size: 40px;
    text-align: center;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1.5rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 20px;
    display: inline-block;
  }

  .contact-image-div {
    display: block;
    text-align: center;
    margin-top: 1rem;
  }

  .contact-image-div>img {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .contact-title {
    font-size: 30px;
    text-align: center;
  }
}