@import "../../_globalColor";

.social-media-div {
  font-size: 2em;
}

.icon-button {
  margin-bottom: 10px;
}

.icon-button i {
  color: $textColorDark;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  vertical-align: middle;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
  margin-bottom: 0px;
  transition: 0.2s ease-in;
}

.facebook i {
  background-color: $faceBook;
}

.linkedin i {
  background-color: $linkedin;
}

.github i {
  background-color: $github;
}

.gitlab i {
  background-color: $gitlab;
}

.google i {
  background-color: $google;
}

.twitter i {
  background-color: $twitter;
}

.medium i {
  background-color: $medium;
}

.stack-overflow i {
  background-color: $stackoverflow;
}

.kaggle i {
  background-color: $kaggle;
}

.instagram i {
  background-color: $instagram;
}

.upwork i {
  background-color: $upwork;
}

.slack i {
  background-color: $slack;
}

.teams i {
  background-color: $teams;
}

.discord i {
  background-color: $discord;
}

/* Hover Transition */
.twitter i:hover,
.google i:hover,
.gitlab i:hover,
.github i:hover,
.linkedin i:hover,
.facebook i:hover,
.instagram i:hover,
.upwork i:hover,
.stack-overflow i:hover,
.kaggle i:hover,
.medium i:hover,
.slack i:hover,
.teams i:hover,
.discord i:hover {
  background-color: $textColor;
}

/* Media Query */
@media (max-width: 768px) {
  .social-media-div {
    text-align: center;
  }
}

.upwork-svg-wrapper {
  color: $textColorDark;
  background-color: $upwork;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
  width: 2.6rem;
  margin: 0 5px;
  margin-bottom: 10px;
  transition: 0.2s ease-in;
  transform: translateY(1px);
}

.upwork-svg-wrapper svg {
  width: 1.3rem;
  height: 1.3rem;
  transform: translateY(1px);
}

.upwork:hover .upwork-svg-wrapper {
  background-color: $textColor;
}
